/* .homeBtn button {
    background-color: transparent;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    outline: none;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all 200ms ease-in-out;
    border: 2px solid black;
    cursor: pointer;
  }
  .homeBtn button a {
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: capitalize;
  }
  .homeBtn button i {
    font-size: 1rem;
  }
  .homeBtn button:hover {
    background-color: black;
  }
  .homeBtn button:hover a {
    color: white;
  } */
  html{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #7f7ab5 0%, #c1bde8 100%);

  }
  .content{
    margin-top:20vh;
  }

.learner-status{
  margin-bottom:18vh;
}


    .header {
    padding: 15px;
    font-family: 'Seymour One', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    background:  #7f7ab5 !important;

    z-index: 1;
    }
    .left-title {
    /* width: 80px; */
    /* color: #fff; */
    font-size: 28px;
    float: left;
    }
    .right-title {
    /* width: 150px; */
    text-align: right;
    font-size: 18px;
    float: right;
    /* color: #fff; */
    }
    .quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
    position: relative;
    }
    .option-block-container {
    margin-top: 20px;
    max-width: 420px;
    }
    .option-block {
    padding: 10px;
    width: 100%;
    background: aliceblue;
    border: 1px solid #c1bde8;
    margin-bottom: 10px;
    cursor: pointer;
    
    }
    .result-question {
    font-weight: bold;
    }
    .c-wrong {
    margin-left: 20px;
    color: #ff0000;
    }
    .c-correct {
    margin-left: 20px;
    color: green;
    }
    .last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 1rem;
      margin-top: 100px;
    }

    .res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    }
    /* styling previous next buttons */
    .buttons{
      color: white;
      background-color: black;
    }
    /* Used to hide the button till results do not get displayed */
    .resultButtonHidden{
      display: none;
    }
    /* styling the view category button */
    #resultButton{
      display: flex;
      justify-content: center;
      /* background-color: black; */
      margin-bottom: 30px;
    }
    #resultButton button{
      border: none;
      outline: none;
      background-color: #9c95dd;
      border: 2px solid white;
      padding: 10px 60px;
      border-radius: 10px;
    }
    #resultButton button a{
      color:black;
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: none;
    }
    #resultButton button {
      cursor: pointer;
    }
    #resultButton button:hover{
      color: rgb(26, 22, 22);
      background-color:transparent;
    }