body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #7F7AB5 0%, #C1BDE8 100%);
    position: relative;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

strong.section_header {
    font-size: 4rem;
    text-transform: capitalize;
    font-family: 'Seymour One', sans-serif;
}
.section_header span {
    font-style: italic;
    margin-right: 2rem;
    font-size: 3rem;
}
strong.heading2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Seymour One', sans-serif;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    /* border-radius: 3rem; */
    box-shadow: 1px 5px 50px rgba(0, 0, 0, 0.3);
    /* border: 1px solid #000; */
    padding: 0.5rem 0rem;
    background: rgba(195, 194, 216, 0.90);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10000;
}
.navbar .logo strong {
    color: black;
    font-family: 'Seymour One', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}
.navbar .navbar_link {
    color: black;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.links .register {
    background: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}


/* hero wrapper styling */
.hero_wrapper {
    height: 100vh;
    /* width: 100vw; */

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    overflow: hidden;
}
.hero_wrapper .circle_wrapper {
    /* background: beige; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.circle_wrapper .circle {
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.circle .hero_heading {
    font-family: 'Seymour One', sans-serif;
    font-size: 7rem;
    line-height: 6rem;
    text-align: end;
    mix-blend-mode: difference;
}

.hero_wrapper .hero_transition {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.hero_transition img {
    /* display: none; */
    mix-blend-mode: saturation;
    width: 100%;
}

/* categories styling */
.categories_wrapper {
    width: auto;
    /* height: 100vh; */
    padding: 50px 100px;
    background-color: rgb(153, 146, 232);
    

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.categories_wrapper .intro_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}
.intro_wrapper p {
    color: rgb(51, 51, 51);
    font-weight: 700;
    width: 60%;
    font-size: 1.1rem;
}

.grid_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    background: black;
    border-radius: 1rem;
    padding: 3rem 0px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
.grid_wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    color: white;
}
.card:nth-child(2) {
    border-left: 1px solid rgb(112, 112, 112);
    border-right: 1px solid rgb(112, 112, 112);
}
.card .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.intro img {
    width: 2rem;
    filter: invert(1);
}

.content li {
    margin: 1rem 0;
    color: rgb(222, 222, 222);
}


/* quiz wrapper styling */
.quiz_wrapper {
    width: auto;
    /* height: 100vh; */
    padding: 50px 100px;
    background-color: rgb(153, 146, 232);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.quiz_wrapper .quiz_intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz_intro p {
    text-decoration: underline;
}

.quiz_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.quiz_content p {
    text-align: center;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7rem;
}
.quiz_intructions li {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.start_now_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start_now_button button {
    background-color: black;
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 2rem;
    color: white;
}