@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: radial-gradient(50% 50% at 50% 50%, #7F7AB5 0%, #C1BDE8 100%); */
    position: relative;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

strong, p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

strong.section_header {
    font-size: 4rem;
    text-transform: capitalize;
    font-family: 'Seymour One', sans-serif;
}
.section_header span {
    font-style: italic;
    margin-right: 2rem;
    font-size: 3rem;
}
strong.heading2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Seymour One', sans-serif;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(203, 198, 255);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #272727;
  }


/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    border-radius: 0rem 0rem 6.25rem 6.25rem;
    box-shadow: 1px 5px 50px rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    /* border: 1px solid #000; */
    padding: 0.5rem 0rem;
    background: rgba(195, 194, 216, 0.90);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10000;
}
.navbar .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.navbar .logo p {
    color: black;
    font-family: 'Space Mono', sans-serif;
   font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.logo-image{
    width: 3rem;
}
.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}
.navbar .navbar_link {
    color: black;
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
    transition: all 200ms ease-in-out;
}
.links .login:hover{
    color:black;
    text-decoration: underline;
}
.links .register:hover{
    color:rgb(0, 0, 0);
    background-color: white;
}
.links .register {
    background: black;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}


/* hero wrapper styling */
.hero_wrapper {
    height: 100vh;
    /* width: 100vw; */
    padding: 0 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    background: #7F7AB5;
}
.hero_wrapper .circle_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.circle_wrapper strong {
    text-align: end;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    height: fit-content;
}
.circle_wrapper .hero_heading {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Seymour One', sans-serif;
    font-size: 7rem;
    line-height: 6rem;
    color: rgb(0, 0, 0);
    position: relative;
}
.hero_heading strong {
    text-decoration: none;
}
.hero_heading img {
    position: absolute;
    top: -1rem;
    right: -1rem;
}


.hero_wrapper .hero_illustrations {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_wrapper .hero_illustrations img {
    width: 100%;
    border-radius: 20px;
    border-bottom: 0.5rem solid black;
}

/* hero trnsition styling */
.hero_transition {
    display: none;
    padding: 200px 0;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #7F7AB5;
    background: linear-gradient(0deg, rgb(203, 198, 255) 0%, #7F7AB5 100%);
}

/* categories styling */
.categories_wrapper {
    width: auto;
    padding: 50px 100px;
    background: linear-gradient(0deg, rgb(203, 198, 255) 0%, #7F7AB5 100%);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.categories_wrapper .intro_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.intro_wrapper p {
    color: rgb(51, 51, 51);
    font-weight: 700;
    width: 60%;
    font-size: 1.1rem;
}

.grid_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    background: black;
    border-radius: 1rem;
    padding: 3rem 0px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
.grid_wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    color: white;
}
.card:nth-child(2) {
    border-left: 1px solid rgb(112, 112, 112);
    border-right: 1px solid rgb(112, 112, 112);
}
.card .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.intro img {
    width: 2rem;
    filter: invert(1);
}

.content li {
    margin: 1rem 0;
    color: rgb(222, 222, 222);
}


/* quiz wrapper styling */
.quiz_wrapper {
    width: auto;
    /* height: 100vh; */
    padding: 50px 100px;
    background-color: rgb(203, 198, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.quiz_wrapper .quiz_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.quiz_content_innerSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}
.quiz_content_innerSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.quiz_content_innerSection::before{
    content:" ";
    background-image: url('./images/quiz.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
}
.quiz_content p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.7rem;
    color: rgb(51, 51, 51);
    margin-bottom: 8vh;
    
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 img{
     width:25vw;
     margin-right: 30px;
     overflow: hidden;
     opacity: 0.5;
}
.quiz_intructions{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quiz_intructions li {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.start_now_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start_now_button button {
    background-color: black;
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 2rem;
    color: white;
}
.start_now_button button .quiz-link{
 color: white;
}
.start_now_button button .quiz-link:hover{
 color: rgb(209, 198, 229);
}

.faq{
background-color: #beb9ff;
}
.title{
    font-family: 'Space Mono';
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    text-decoration: none 4px;
}


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}