@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  background: #beb9ff;
  background: radial-gradient(circle, #7f7ab5 0%, #c1bde8 100%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Inter", sans-serif;
}
strong,
p {
  margin: 0;
}


.homeBtn button {
  background-color: transparent;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  outline: none;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: all 200ms ease-in-out;
  border: 2px solid black;
  cursor: pointer;
}
.homeBtn button a {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
}
.homeBtn button i {
  font-size: 1rem;
}
.homeBtn button:hover {
  background-color: black;
}
.homeBtn button:hover a {
  color: white;
}


strong.section_header {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  font-family: "Seymour One", sans-serif;
}

/* form wrapper styling */
.form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 2rem;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
  gap: 50px;
  background: rgb(0, 0, 0);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.form .field {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.field input {
  background: transparent;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-bottom: 1px solid rgb(73, 73, 73);
}

.class_wrapper {
  border-left: 1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.class_wrapper p {
  font-size: 2rem;
}
.class_wrapper strong {
  font-size: 5rem;
  font-family: "Seymour One", sans-serif;
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.buttons_wrapper button {
  mix-blend-mode: difference;
  background: #beb9ff;
  display: inline;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-weight: 700;
}
.buttons_wrapper button:hover {
  background: white;
}
.buttons_wrapper a {
  color: white;
}
